* {
  box-sizing: border-box;
}

body {
  background-color: azure;
}

#container {
  display: flex;
  flex-wrap: wrap;
  width: 600px;
  height: 600px;
}

#container, .square{
  border: 1px solid black;
}